.videoWrapper {
    display: flex;
}

.filterContainer {
    background-color: #0E1A2B;
    padding: 15px;
    overflow: hidden;
    flex: 0.2;
}

.filterContainer .heading {
    font-size: 1.3rem;
    font-weight: bold;
}

.inputContainer {
    margin: 10px 0;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.buttonContainer button {
    background-color: #5692e8;
    color: white;
    padding: 5px;
}

.gamesContainer {
    border: 1px solid;
    flex: 0.8;
}

.cardsContainer {
    border: 1px solid pink;
}

.videoGames {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.list_item {
    height: 180px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #0E1A2B;
    width: 100%;
}

.score {
    width: 50px;
    height: 50px;
    background-color: #5692e8;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}